/* CSS/register.css */

.register-button {
  margin: 4rem auto;
  text-align: center;
}

.register-button a {
  text-decoration: none;
  color: #BBAEE9;
  background-color: rgba(3, 27, 44, 0.51);
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 0 0.75rem #BBAEE9;
  transition: all 0.3s ease;
}

.register-button a:hover {
  background-color: #BBAEE9;
  color: #031B2C;
}
